{% extends 'layout.html' %}

{% block content %}

    <div class="container">
    <a href="/depart/add/" class="btn btn-success" style="margin-bottom: 10px">
        {#                增加一个属性 target = "_blank" 表示在新的页面打开#}
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        新建部门
    </a>
    <div class="bs-example" data-example-id="table-within-panel">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            部门列表
        </div>

        <!-- Table -->
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>名称</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for obj in queryset %}
                <tr>
                    <th scope="row">{{ obj.id }}</th>
                    <td>{{ obj.title }}</td>
                    <td>
{#                        C老师给的新方法，{% url 'depart_edit' obj.id %} "depart_list"是path起的名字，会自动生成http://127.0.0.1:8000/depart/"id数字"/edit/#}
                        <a href="{% url 'depart_edit' obj.id %}" class="btn btn-primary btn-xs">编辑</a>
                        <a href="{% url 'depart_delete' obj.id %}" class="btn btn-danger btn-xs">删除</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>


{% endblock %}