{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                编辑靓号
            </div>

            <div class="panel-body">
                <form method="post" novalidate>
                    {% csrf_token %}

                    {% for field in form %}
                        <div class="form-group {% if field.errors %}has-error{% endif %}">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                            {% if field.errors %}
                                <span class="help-block">{{ field.errors.0 }}</span>
                            {% endif %}
                            {% if field.help_text %}
                                <p class="help-block">{{ field.help_text }}</p>
                            {% endif %}
                        </div>
                    {% endfor %}

                    <button type="submit" class="btn btn-primary">提交</button>
                    <a class="btn btn-default" href="{% url 'pretty_list' %}">取消</a>
                </form>
            </div>

        </div>
    </div>
{% endblock %}